<template>
  <component :is="name" :size="size" :color="color" v-bind="$attrs"></component>
</template>
<script>
/* eslint-disable */
#imports#

export default {
  name:"iconfont",
  props:{
    name:{
      type: String,
      default: ""
    },
    size:{
      type: [String, Number],
      default: #size#,
    },
    color: {
      type: [String, Array],
      default: "",
    },
  },
  components:{
    #cases#
  },
}
</script>
